* {
    /* border-style: solid;
    border-width: 1px;
    border-color: aquamarine; */
}

/* Layout */
.row {
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    
}

.column {
    width: 50%;
    /* height: 500px; */
    padding-left: 1%;
    padding-right: 1%;
    /* border: 1px solid red; */
}


/* Element Styles */

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    margin: 0px;
}

img {
    /* width: 350px; */
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*https://www.w3schools.com/css/css3_images.asp*/
    object-fit: cover;
}

div.desc {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*https://www.w3schools.com/css/css3_images.asp*/
    border-radius: 4px;
    text-align: left;
    background-color: white;
    height: auto;
}

h3 {
    background-color: white;
    font-weight: normal;
    font-size: larger;
    text-align: center;
    padding-top: 30px;
}


p {
    font-size: large;
    line-height: 1.5em;
    margin: 10px;
    padding: 30px;
    padding-top: 0px;
    /* border: 1px solid gray; */
    background-color: white;

}

input {
    background-color: white;
    width: 70%;
    height: 24px;
    margin: 10px;
    border-radius: 3px;
}

select, option {
    appearance: none;
    background-color: white;
    width: 70%;
    height: 28px;
    margin: 10px;
    border-radius: 3px;
}

button {
    background-color: white;
    width: 30%;
    height: 34px;
    margin: 10px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*https://www.w3schools.com/css/css3_images.asp*/

}


@media only screen and (min-width: 1200px) {
    .picture {
        width: 35%;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        /* border: 1px solid red; */
        flex-direction: column;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /* flex-wrap: wrap; */
        
    }

    .column {
        width: 80%;
        /* height: 500px; */
        padding-left: 1%;
        padding-right: 1%;
        /* border: 1px solid red; */
    }
}


