<div class="row"> 
    <div class="title"> 
        <h2> Honey </h2>
        <hr />
    </div>
</div>
<div class="row ">
    <div class="column product">
        <img src="assets/cow.jpg"/> 
        <p> Product Description </p>
    </div>

    <div class="column details">
        <input type="number" name="quantity" min="1" max="10">

        <select> 
            <option value="24"> 24 oz</option>
            <option value="48"> 48 oz</option>
            <option value="gal"> 1 gal</option>
        </select>>

        <button> Add to Cart </button>
    </div>
</div>

