<div class="row"> 
    <div class="title"> 
        <input type="text" class="name" value="Honey"/>
        <hr />
    </div>
</div>
<div class="row ">
    <div class="column picture">
        <img src="assets/honey.jpg"/> 
    </div>

    <div class="column details">
        <div class="desc">
            <h3> Product Description </h3>
            <hr />
            <textarea class="desc" >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </textarea>
        </div>
        <input type="number" name="quantity" min="1" max="10">

        <select> 
            <option value="24"> 24 oz</option>
            <option value="48"> 48 oz</option>
            <option value="gal"> 1 gal</option>
        </select>>

        <button> Add to Cart </button>
    </div>
</div>

