

<ng-container class="page"> 
    <!-- Horizontal Navigation -->
    <nav class="horizontal">
        <a href="#"> Honey </a>
        <a href="#"> Cattle </a>
    </nav>
    <!-- Page Content -->
    <div class="content"> 

        <!-- Vertical Navigation -->
        <nav class="vertical col1">
            <ul> 
                <li><a href="#"> Vertical Nav</a></li>
                <li><a href="#"> Honey </a></li>
                <li><a href="#"> Cattle </a></li>
            </ul>
        </nav>

        <!-- Column 1 -->
        <div class="col2"> 
            <img src="assets/cow.jpg"> 
        </div>
        <!-- Column 2 -->
        <div class="col3"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac velit eget quam porttitor iaculis eu id enim. Ut volutpat dapibus leo, vel efficitur lectus egestas quis. Nunc imperdiet tristique velit et tincidunt. Nunc tempus rhoncus facilisis. Fusce a ullamcorper turpis. Suspendisse hendrerit suscipit est, at venenatis urna laoreet eget. Etiam ultricies tellus dolor, at egestas mi mattis ac. Donec ac velit tortor. In quis convallis neque, non tristique neque. Aenean varius eleifend pellentesque. </p>
        </div>
    </div>
</ng-container>