<ng-container class="page"> 
    <!-- Banner -->
    <div class="banner">
        <img src="assets/cow.jpg">
        <h1> Farm </h1>
    </div>
    <!-- Horizontal Navigation -->
    <nav class="horizontal">
        <a> Honey </a>
        <a> Cattle </a>
    </nav>
    <!-- Vertical Navigation -->
    <nav class="vertical">
        <a> Honey </a>
        <a> Cattle </a>
    </nav>

    <!-- Column 1 -->
    <div class="col1"> 
        <img src="assets/cow.jpg"> 
    </div>
    <!-- Column 2 -->
    <div class="col2"> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac velit eget quam porttitor iaculis eu id enim. Ut volutpat dapibus leo, vel efficitur lectus egestas quis. Nunc imperdiet tristique velit et tincidunt. Nunc tempus rhoncus facilisis. Fusce a ullamcorper turpis. Suspendisse hendrerit suscipit est, at venenatis urna laoreet eget. Etiam ultricies tellus dolor, at egestas mi mattis ac. Donec ac velit tortor. In quis convallis neque, non tristique neque. Aenean varius eleifend pellentesque. Etiam scelerisque purus condimentum ligula varius iaculis. Vestibulum sagittis vitae quam quis pharetra. </p>
    </div>
</ng-container>