    <!-- Banner -->
    <div class="banner flex-container">
        <img class="logo" src="assets/StoneyGroveLogo.png" style="align-self: center;">
        <h1 class="title"> Stoney Grove Farm </h1>
    </div>
    <div class="navbar">
        <ul>
            <li> <a routerLink="/about"> About Us </a></li>
            <li> <a routerLink="/details"> Product Details </a></li>
            <li> <a routerLink="/editor"> Editor Experiment </a></li>
        </ul>
    </div>

<router-outlet></router-outlet>